body{
     
    
    background-image: url(../img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo a{
    font-size: 35px;
    color:aqua;
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    font-family:impact;
    
}

#logo a:link{
    
    color:hotpink;
    
}

#logo a:visited{
    
    color:orangered;
    
}

#logo a:hover{
    
    color: aqua;
}










ul {
    position: fixed;
        left: 0;

    top: 0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color:black;
text-align: center;
    opacity: .8;
    
    
}


    
    


li a {

    display: block;
    color: white;
    font-family: fantasy;
    letter-spacing: 5px;
    font-weight:900;
    text-decoration: none;
    padding: 6px;
    text-transform: uppercase;
    border: 1px solid green;
    border-radius: 8px;
    
    

}
li{
    
    display: inline-flex;
    background-color:crimson;
    border-radius: 10px;
    margin: 10px;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color:orange;
}

 a{
    
    font-size: 20px;
}

a:link{
    
    color:cyan;
    
}


 a:visited{
    
    color:cyan;
}


a:hover{
    
    color: black;
    
    
    
}






h1{
    
    text-align: center;
    color: orangered;
    text-decoration: none; 
        text-transform: uppercase;

    
}

.num1 .k{
    
    
    float: left;
}


.k{
    
   width: 500px;
    height: 300px;
        cursor: :pointer;
    overflow: hidden;
}

.k img{
    
     width: 100%;
    height: 100%;
    transition: all 1s ease-in;
}

.k:hover img{
    
     transform: scale(1.1);
    transition: all 0.5s ease-in;
    filter: brightness(0.5);
    
}

.num1 .s{
    
    float: right;
    
}


.s{
    
    width: 500px;
    height: 300px;
    cursor: pointer;
    overflow: hidden;

}

.s img{
    
    width: 100%;
    height: 100%;
    transition: all 1s ease-in;
}


.s:hover img{
    
    transform: scale(1.1);
    transition: all 0.5s ease-in;
    filter: brightness(0.5);
    
}

.num2 .m{
    
text-align: center;
    margin: 25px auto;
}

.m{
    width: 500px;
    height:300px;
    cursor: pointer;
    overflow: hidden;
    
}

.m img{

    width: 100%;
    height: 100%;
    transition:  all 1s  ease-in;
    
}

.m:hover img{
    
    transform: scale(1.1);
    transition: all 0.5s ease-in;
    filter: brightness(0.5);
}
.num3 .a{
    
    float: left;
    
}

.a{
    
    width: 500px;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
}

.a img{
    
    width: 100%;
    height: 100%;
    transition: all 1s ease-in;
    
}

.a:hover img{
    
    transform: scale(1.1);
    transition: all 0.5s ease-in;
    filter: brightness(0.5);
    
}
.num3 .w{
    
    
float: right;

}

.w{
    width: 500px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    
}

.w .img{
    
    width: 100%;
    height: 100%;
    transition: all 1s ease-in;
    
}

.w:hover img{
    
    transform: scale(1.1);
    transition: all 0.5s ease-in;
    filter: brightness(0.5);
    
}
